@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap'); 
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    gap: 10px;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: gray;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 10px;
}
.header-left img:first-child{
    width: 30px;
    height: 20px;
}
.header-left img:last-child{
    width: 80px;
    height: 20px;
}
.header-left{
    display: flex;
    width: 100px;
    height: 60px;
}
.header-mid ul {
    display: flex;
    gap: 30px;
}
.header-right button{
    width: 100px;
    height: 30px;
    border: 2px solid aqua;
    color: aqua;
    background-color: white;
}
.header-right button:hover{
    border: 2px solid rgb(255, 135, 135);
    color: rgb(255, 135, 135)   ;
}
.header-mid ul li :hover{
    color: blue;
}

.section{
    width: 100%;
    height: 648px;
    background-image: url(https://cafefcdn.com/203337114487263232/2023/4/27/what-does-a-coder-do-2022-career-guide-1-1682580520079-16825805205492036415342.jpg) ;
   background-color: white;
   position: relative;
   
}
.pen{
    padding: 6px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: black;
    text-shadow: 10px;
    border-radius: 10px  ;
}
.section-mid   {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    position: absolute ;
    bottom: 190px;
    left: 10%;
    color: #fcfcfc;
    
}
.section-right img{
    width:  400px;
    height: 648px;
    position: absolute;
    right: 150px; 
    top: -40px;
}
.download {
    width: 150px;
    height: 50px;
    background-color: rgb(43, 182, 252);
    color: white;
    border: 0px;
    border-radius: 20px;
    transition: all 0.1s;
}
.download:hover{
    background-color: blue;
}

section2{
    display: flex;
}
.container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-top: 20px;
  }
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}
  .card {
    display: flex;
    width: 200px;
    border: 0px outset #ccc;
    padding: 10px;
    margin: 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .card:hover{
    background-color: rgb(201, 200, 200);
    cursor: pointer;
  }

  
  .card div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card div span:first-child{
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
.card div span:last-child{
    color: #000000;
}
.container3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: rgb(207, 207, 207);
    justify-content: center;
    align-items: center ;
    gap: 200px;
    background-image: url(https://th.bing.com/th/id/OIP.abiJDmGweN4AHPMk82i6BQHaDe?rs=1&pid=ImgDetMain );
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
 .right {
  .left {
    width: 50%;
}
    width: 40%;
    justify-content: end;
  }
  .button {
    width: 150px;
    background-color: darkblue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  .container6 {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .left1 {
    width: 40%;
  }
  .right1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .right1 p{
    color: gray;
  }
  .column {
    width: 30%;
  }
  hr{
    color: white;
    opacity: 50%;
  }
  .footer{
    background-color: rgb(23,45,81);
    border-width: 100%;
    height: 350px;
    border: solid 5px rgb(23,45,81);
    border-color: transparent transparent rgb(23,45,81) transparent;
    justify-content: end;
}
.form {
    width: 100%;
    height: 600px;
    background-image: url(https://th.bing.com/th/id/R.55f4bcc2a69821ce93dc4d6f41d7637d?rik=yzJSsVeUFTlJtw&pid=ImgRaw&r=0);
   
}
.form1{ 
    width: 70%;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 200px;
    color: black ;
}
.form2 input{
    width: 300px;
    height: 30px;
    border: 1px solid gray;
}
.c{
    display: flex;
    flex-direction: column;
    gap: 10px
    ;
}
.c1{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.c3{
    display: flex;
    flex-direction: column; 
}
.button2{
    width: 120px;
     height: 40px;
     border-radius: 10px;
     background-color: aqua; 
    color: white; 
    text-align: center;
    justify-content: center;
    border: 0;
}
.button2 :hover{
    background-color: blue;
}
.anh img {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.container7 ul {
 display: flex;
 gap: 30px;
 margin-left: 30px;
}
.cv{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.cv1{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 90px;
    border: 1px solid rgb(154, 154, 154);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.cv1 img{
width: 40px;
height: 40px;
}
.cv1 button{
    color: rgb(59, 235, 235);
    background-color: grey;
    
}.cv :hover{
    background-color: rgb(8, 83, 83);
}
.cv1 button :hover{
    background-color: chartreuse;
}

